<div class="navbar">
  <div class="navbar-logo">
    <img (mouseenter)="turnLogo(1, 'logo-circle')" (mouseleave)="turnLogo(-1, 'logo-circle')" ID="logo-circle"
         class="navbar-logo-image circle"
         src="/assets/Img/Logo.svg" alt="Dublin Font with the Spire">
    <span>
      <h3>ePortfolio Dublin</h3>
    </span>
  </div>

  <ul class="navbar-menu">
    <li class="navbar-menu-item" ID="anchor-Home">
      <a (click)="onScrollTo(Home)">Home</a>
    </li>
    <li class="navbar-menu-item" ID="anchor-Gallery">
      <a (click)="onScrollTo(Gallery_view)">Gallery</a>
    </li>
    <li class="navbar-menu-item" ID="anchor-Video">
      <a (click)="onScrollTo(Video)">Video</a>
    </li>
  </ul>
</div>

<div #Home></div>
<div id="Home" class="home">
  <div class="home-page">
    <div class="home-page-content">
    </div>
  </div>
</div>

<div class="title">
  <img ID="title-logo" src="assets/Img/Logo.svg" class="image-circle" alt="Logo Dublin">
  <p>
    This is a ePortfolio about my English Stay in Dublin, Ireland in 2022.
  </p>
</div>

<div #Gallery_view id="gallery_view"></div>
<div id="gallery" class="gallery-container">
  <div>
    <section id="gallery-item-{{i + 1}}" class="gallery-item" *ngFor="let picture of pictures; let i = index">
      <div class="gallery-content">
        <div class="margin-0">
          <a
            (mouseenter)="unedited(true)" (mouseleave)="unedited(false)"
            class="gallery-content-link text-white wide-text-left">
            <p>unedited</p>
          </a>
          <div class="gallery-content-main">
            <img class="gallery-content-main-image edited" [src]="picture.editedPictureURL" alt="Sea edited">
            <img class="gallery-content-main-image original" [src]="picture.originalPictureURL" alt="Sea original">
            <p class="gallery-content-main-reflection text-white">
              {{picture.description}}
            </p>
          </div>
          <a
            (mouseenter)="description(true)" (mouseleave)="description(false)"
            class="gallery-content-link text-red wide-text-right">
            <p>description</p>
          </a>
        </div>
      </div>
    </section>
  </div>
</div>

<div ID="cover"></div>
<div ID="video" class="video-container">
  <iframe #Video class="video-player" [src]="safeURL" allowfullscreen></iframe>
</div>

