<div class="navbar">
  <div class="navbar-logo">
    <img (mouseenter)="turnLogo(1)" (mouseleave)="turnLogo(-1)" ID="logo-circle" class="navbar-logo-image circle"
         src="/assets/Img/Logo.png" alt="Dublin Font with the Spire">
    <span>
      <h3>Dublin</h3>
    </span>
  </div>

  <ul class="navbar-menu">
    <li class="navbar-menu-item" ID="anchor-Home">
      <a (click)="onScrollTo(Home)">Home</a>
    </li>
    <li class="navbar-menu-item" ID="anchor-Gallery">
      <a (click)="onScrollTo(Gallery_view)">Gallery</a>
    </li>
    <li class="navbar-menu-item" ID="anchor-Video">
      <a (click)="onScrollTo(Video)">Video</a>
    </li>
  </ul>
</div>


<div #Home></div>
<div>
  <div>
    <div>
    </div>
  </div>
</div>

<div #Gallery_view id="gallery_view"></div>
<div class="gallery-container">
  <section class="gallery-item" *ngFor="let picture of pictures">
    <div class="gallery-content">
      <div>
        <a  class="gallery-content-link text-white">
          <p>unedited</p>
        </a>
        <div class="gallery-content-main">
          <img class="gallery-content-main-image edited" [src]="picture.editedPictureURL" alt="Sea edited">
          <img class="gallery-content-main-image original" [src]="picture.originalPictureURL" alt="Sea original">
          <p class="gallery-content-main-description text-white">{{picture.description}}</p>
        </div>
        <a class="gallery-content-link text-white">
          <p>Description</p>
        </a>
      </div>
    </div>
  </section>
</div>

<div ID="cover"></div>
<div #Video ID="video" class="video-container">
  <iframe class="video-player" [src]="safeURL" allowfullscreen></iframe>
</div>

