* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
}

header, nav, section {
  display: block;
}

footer {
  background-color: #287042;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  position: fixed;
  z-index: 1000;

  p {
    color: #FFFFFF;
    margin: 4vh;
    text-align: center;
    font-size: 3vh;

    @media (max-width: 500px) {
      font-size: 2vh;
    }
  }
}

